<%- include('partials/header') %>
<%var like=blog.nooflike%>
<!-- <div class="background">

</div> -->
<div id="heading" class="ui main text container segment">
<div class="ui huge header"><%=blog.title%></div>
 <div class="ui top attached ">
    <!-- <div class="item"> -->
        <div class="ui card">
        <img class="ui centered rounded image" src="<%=blog.image%>" alt="image not loaded correctly">
       
        <div class="content">
          <span><%=blog.created.toDateString()%></span>
        </div>
        <div class="description">
            <p style="height: fit-content; overflow: hidden;"><%-blog.body%></p>
        </div>
       
            <div class="content">
                <span  class="right floated">
                  <!-- <form style="display: inline;" action="/blogs/<%=blog._id%>/<%=blog.nooflike%>" method="POST"><button  style="background-color: white; border: none; outline: none
                  ;"></button></form> -->
                  <i id="like" class="heart outline icon"  onclick="like()"></i>
                  <div id="nooflike" style="display: inline;"><%=blog.nooflike%> likes</div>
                 
                </span>
                <i class="comment icon"></i>
                3 comments
              </div>
              <div class="content bottom">
                <div class="ui transparent left icon input">
                    <i class="comments icon" style="font-size: 1rem;"></i>
                  <input  type="text" placeholder="Add Comment..." style=" margin:0rem 2rem; border-bottom: 1px solid grey; width: 38rem; border: 1px solid black;">
                    <a href="">Post</a>
                </div>
              </div>
              <hr>
              
              
        <div style="margin: 2rem auto;">
            <a id="show-btngreen" class="ui green basic button" href="/blogs/<%=blog.id%>/edit">Edit</a>
            <form id="delete" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
            <button  id="show-btnred" class="ui red basic button">Delete</button>
            
            </form>
        </div>
        </div>
       
       
   
    <!-- </div> -->

 </div>
    
    
    
</div>
<script>

        function like(){
         $("#like").toggleClass("outline");
         $("#like").toggleClass("color");
         console.log(like);
      }


</script>
<%- include('partials/footer') %>